.header{
    display: flex;
    height: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 17px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(230, 230, 230);
    z-index: 100;
}

.left-section{
    display: flex;
    width: 150px;
}

.hamburger{
    height: 25px;
    margin-left: 24px;
    margin-right: 24px;
    cursor: pointer;

}

.logo{
    height: 20px;
    cursor: pointer;
    padding-top: 2px;
}

.middle-section{
    flex: 1;
    max-width: 500px;
    margin-left: 70px;
    margin-right: 35px;
    display: flex;
}

.search-bar{
    height: 36px;
    flex: 1;
    border-style: solid;
    border-color: rgb(198 198, 198);
    border-width: 1px;
    box-shadow: inset 1px 2px 5px 
    rgba(0, 0, 0,0.05);
    border-radius: 2px;
    width: 0;
}

.search-bar::placeholder{
    font-family: Roboto, arial;
    font-size: 16px;
    padding-left: 10px;
    margin-top: 10px;
}

.search-button, .voice-search-button, .upload-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button{
    height: 39px;
    width: 66px;
    background-color: rgb(243, 243, 243);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(198, 198, 198);
    margin-left: -1px;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
}

.search-button .tooltips{
    position: absolute;
    background-color: rgb(128, 128, 128);
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    bottom: -43px;
    opacity: 0;
    transition: opacity 0.15ms;
    pointer-events: none;
}

.upload-container .tooltips{
    font-family: arial;
    font-size: 12px;
    position: absolute;
    background-color: rgb(128, 128, 128);
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    bottom: -35px;
    opacity: 0;
    transition: opacity 0.15ms;
    pointer-events: none;
}

.app-container .tooltips{
    font-family: arial;
    font-size: 12px;
    position: absolute;
    background-color: rgb(128, 128, 128);
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    bottom: -35px;
    opacity: 0;
    transition: opacity 0.15ms;
    pointer-events: none;
}

.noti-container .tooltips{
    font-family: arial;
    font-size: 12px;
    position: absolute;
    background-color: rgb(128, 128, 128);
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    bottom: -35px;
    opacity: 0;
    transition: opacity 0.15ms;
    pointer-events: none;
}

.search-button:hover .tooltips,
.upload-container:hover .tooltips,
.app-container:hover .tooltips,
.noti-container:hover .tooltips{
    opacity: 1;
}


.search-button-icon{
    height: 25px;
    margin-top: 4px;
    margin-left: 15px;
    margin-right: 15px;
}

.voice-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 245, 245);
    cursor: pointer;
    position: relative;
}

.voice-button .tooltips{
    position: absolute;
    background-color: rgb(127, 127, 127);
    color: white;
    width: 150px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 2px;
    bottom: -43px;
    opacity: 0;
    transition: opacity 0.15ms;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.voice-button:hover .tooltips{
    opacity: 1;
}

.voice-search-button{
    height: 25px;
}


.right-section{
    width : 200px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
}

.upload{
    height: 25px;
}



.apps{
    height: 24px;
    margin-left: 25px;
}

.notifications{
    height: 24px;
    margin-left: 25px;
    position: relative;
}

.notifications-icon-container{
    position: relative;
}

.notifications-count{
    font-family: roboto,arial;
    position: absolute;
    right: -5px;
    top: -2px;
    background-color: rgb(199, 0, 0);
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    font-size: 10px;
}

.profile{
    height: 32px;
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 25px;

}