.sidebar{
    position: fixed;
    bottom: 0;
    top: 55px;
    width: 72px;
    left: 0;
    margin-top: 5px;
    background-color: white;
    z-index: 200;
}

.sidebar-links{
    margin-top: 2px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-links:hover {
    background-color: rgb(237, 237, 237);
}

.sidebar-links img{
    height: 24px;
    padding-bottom: 5px;
}

.sidebar-links div{
    font-size: 10px;
    font-family: roboto,arial;
}